* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

summary {
    display: block;
    &::-webkit-details-marker {
        display: none;
    }
}

li {
    list-style-type: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.top {
    position: relative;
    overflow: hidden;
}

.header {
    min-height: 75px;
    background: #222222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 41px;
    }
    &__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 33px;
    }
    &__checkbox {
        position: absolute;
        visibility: hidden;
        left: -9999999px;
    }
    &__checkbox:checked~.mobile-menu {
        right: 0;
    }
}

.mobile-menu {
    position: absolute;
    top: 75px;
    right: -232px;
    z-index: 1;
    -webkit-transition: right 0.6s;
    transition: right 0.6s;
    width: 232px;
    background: #FFFFFF;
    -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &__link-site {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background-color: #e8e8e8;
        padding: 8px;
        border-radius: 10px;
        margin-bottom: 24px;
        display: none;
    }
    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &__link:hover {
        color: #F16D7F;
    }
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
    }
    &__list {
        list-style-type: none;
        padding-left: 21px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 11px;
        margin-top: 12px;
    }
    &__box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
        margin-top: 24px;
    }
}

.promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    &__img {
        width: 50%;
    }
    &__info {
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
        margin-top: 48%;
    }
    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }
    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #222222;
    }
    &__content {
        padding-left: 64px;
    }
}

.sale {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
    &__item {
        position: relative;
    }
    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    &__item_big {
        min-height: 180px;
        grid-column: 1 / -1;
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #F16D7F;
    }
}

.product-box {
    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #222222;
    }
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 6px;
        color: #9F9F9F;
    }
    &__content {
        margin-top: 48px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (360px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 360px);
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 48px;
    }
}

.product {
    position: relative;
    &:hover .product__img {
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
    }
    &:hover .product__add {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    &__img {
        width: 100%;
    }
    &__add {
        position: absolute;
        top: 188px;
        left: 111px;
        border: 1px solid #fff;
        width: 139px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 11px;
        color: #FFFFFF;
    }
    &__add:hover {
        -webkit-box-shadow: 0 0 5px #fff;
        box-shadow: 0 0 5px #fff;
    }
    &__add:hover svg path {
        fill: #F16D7F;
    }
    &__content {
        background: #F8F8F8;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 16px;
    }
    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }
    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
}

.pages {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 284px;
    height: 44px;
    border: 1px solid #EBEBEB;
    padding: 12px 15px 13px 16px;
    box-sizing: border-box;
    margin: 0 auto 96px auto;
    &__numbers {
        width: 203px;
        text-align: justify;
        color: #C4C4C4;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        &__list {
            display: flex;
            justify-content: space-between;
        }
    }
    &__number:hover {
        color: #EF5B70;
    }
}

.advantages {
    background-color: #222222;
    padding-top: 104px;
    padding-bottom: 104px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
    &__item {
        width: 360px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 24px;
    }
    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}

.head {
    min-height: 148px;
    background: #F8F3F4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
    }
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    &__box-link:last-child .breadcrumb__link {
        font-weight: 700;
        color: #F16D7F;
    }
    &__box-link:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
    }
    &__link:hover {
        color: #F16D7F;
    }
}

.filter {
    width: 100%;
    padding: 13px 16px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    &-box {
        position: relative;
        height: 40px;
        width: 360px;
    }
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }
    &__link:hover {
        color: #F16D7F;
    }
    &__box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 24px 16px;
        gap: 11px;
    }
    &-sort {
        padding-top: 39px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 30px;
    }
    &__summary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 11px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    &[open] {
        background: #FFFFFF;
        -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] .filter__summary {
        color: #F16D7F;
    }
    &[open] .filter__img path {
        fill: #F16D7F;
    }
    &__category {
        margin-top: 16px;
    }
    &__category-summary {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px;
        border-left: 5px solid #F16D7F;
        border-bottom: 1px solid #EBEBEB;
    }
    &__category[open] .filter__category-summary {
        color: #F16D7F;
    }
}

.sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__summary {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
    }
    &__details {
        position: relative;
    }
    &__summary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 10px;
    }
    &__content {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 6px;
        width: 79px;
        padding: 7px 9px 11px;
        background: #FFFFFF;
        -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
        top: 22px;
        left: -9px;
    }
}

.button {
    width: 212px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #F16D7F;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 22px;
    -webkit-transition: all 1s;
    transition: all 1s;
    &:hover {
        -webkit-transform: rotate(1720deg);
        transform: rotate(1720deg);
        color: #fff;
        background-color: #F16D7F;
    }
    &:hover path {
        fill: white;
    }
    &-wrap {
        display: flex;
        justify-content: center;
        color: #F26376;
        border: #FF6A6A;
        align-items: center;
        margin-top: 48px;
    }
}

.slider {
    height: 777px;
    position: relative;
    background: #F7F7F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__arrow {
        background: rgba(42, 42, 42, 0.15);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 47px;
        height: 47px;
        position: absolute;
        top: 365px;
    }
    &__arrow:hover path {
        fill: #F16D7F;
    }
    &__arrow_left {
        left: 0;
    }
    &__arrow_right {
        right: 0;
    }
}

.content {
    background-color: #fff;
    border: 1px solid #EAEAEA;
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1140px;
    margin: -65px auto 0;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 129px;
    &__title {
        color: #F16D7F;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 12px;
    }
    &__line {
        width: 63px;
        height: 3px;
        background-color: #EF5B70;
        margin-bottom: 12px;
    }
    &__heading {
        color: #4D4D4D;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 48px;
    }
    &__text {
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 32px;
    }
    &__price {
        color: #EF5B70;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 65px;
    }
    &__line-big {
        width: 641px;
        height: 1px;
        background-color: #EAEAEA;
        margin-bottom: 65px;
    }
}

.footer-top {
    background: url(img/footer-bg.jpg) bottom no-repeat;
    background-color: #f8f8f828;
    height: 448px;
    background-size: cover;
    &-flex {
        display: flex;
        justify-content: space-between;
    }
}

.rewiew {
    padding-top: 97px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    width: 359.45px;
}

.photo {
    border-radius: 50%;
    margin-bottom: 30px;
}

.subscribe {
    padding-top: 150px;
    width: 557px;
    &-top {
        font-weight: 700;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
    }
    &-bottom {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #222224;
        margin-bottom: 32px;
    }
    &-form {
        display: flex;
        justify-content: center;
    }
    &-mail {
        border: none;
        font-weight: 400;
        text-align: start;
        color: #222224;
        background-color: #E1E1E1;
        width: 256px;
        height: 49px;
        border-radius: 25px 0 0 25px;
        padding-left: 22px;
    }
    &-button {
        height: 49px;
        border: none;
        font-weight: 400;
        display: flex;
        color: #FFFFFF;
        background: #F16D7F;
        width: 100px;
        box-sizing: border-box;
        padding: 15px 20px;
        border-radius: 0 25px 25px 0;
    }
}

.footer-bottom-wrapper {
    background: #222224;
    height: 79px;
    padding-top: 30px;
}

.copy {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-social-list {
    display: flex;
    list-style: none;
}

.icon:hover path {
    fill: white;
}

.icon:hover {
    fill: #F16D7F;
}

.visually-hidden {
    display: none;
}

.footer-social-item {
    margin-right: 7px;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }
    .promo__content {
        padding-left: 39px;
    }
    .header__left {
        padding-left: 16px;
    }
    .header__right {
        padding-right: 16px;
    }
    .promo__title {
        font-size: 44px;
        line-height: 53px;
    }
    .promo__heading {
        font-size: 24px;
        line-height: 29px;
    }
    .sale__item_big {
        min-height: 116px;
    }
    .product-box__content {
        gap: 16px;
    }
    .footer-top {
        height: 614px;
    }
    .footer-top-flex {
        justify-content: center;
        flex-wrap: wrap;
    }
    .subscribe {
        padding-top: 48px;
    }
}

@media (max-width: 767px) {
    .header__link-site {
        display: none;
    }
    .promo {
        height: 363px;
    }
    .promo__img {
        display: none;
    }
    .promo__content {
        padding: 0;
        margin: 0 auto;
    }
    .promo__title {
        font-size: 38px;
        line-height: 46px;
    }
    .promo__heading {
        font-size: 20px;
        line-height: 24px;
    }
    .sale {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        padding-bottom: 64px;
    }
    .sale__item {
        max-width: 343px;
    }
    .sale__item_big img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .footer-top {
        background: url(img/footer-bg-small.jpg);
    }
}